<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeuronApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeuronApplication.Properties.Settings>
            <setting name="Function" serializeAs="String">
                <value>sigmoid</value>
            </setting>
            <setting name="NeuronsFilePath" serializeAs="String">
                <value>D:\neurons.txt</value>
            </setting>
            <setting name="InputsFilePath" serializeAs="String">
                <value>D:\inputs.txt</value>
            </setting>
            <setting name="InputsCount" serializeAs="String">
                <value>3</value>
            </setting>
        </NeuronApplication.Properties.Settings>
    </userSettings>
</configuration>